:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --hover-focus-color: #188ce8;
  --hover-button-text: #ffffff;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

/*---------------header-----------*/
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}

.web {
  color: #2196f3;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--hover-focus-color);
}

/*---------------hero-----------*/
.hero {
  background-color: #2f303a;
}

.hero-titel {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  cursor: pointer;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: var(--hover-button-text);
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

/*---------------main-----------*/

.main-list-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-title-color);
}

.main-list-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}

/*-----------------title-hide----------------*/
.title-hide {
  display: none;
}

/*-----------------first-section---------------------*/
.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

/*-----------------second-section---------------------*/

.section-command {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.section-command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.section-command-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-second {
  background-color: #f5f4fa;
}

/*-----------------footer---------------*/

.andress {
  font-style: normal;
}
.adress-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
}

.studio-footer {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:focus,
.contacts-footer:hover {
  color: #2196f3;
}

/*-----------------portfolio----------------*/

/* identical to box height, or 200% */

.main-portfolio-titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  text-decoration: none;
}

.main-portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-decoration: none;
}

.hero-button-portfolio {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border-radius: 4px;
}

.hero-button-portfolio:hover,
.hero-button-portfolio:focus {
  cursor: pointer;
  background-color: #2196f3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.current {
  color: #2196f3;
}

.prtfolio-pics {
  text-decoration: none;
}
